

#navigation-container{
  background:#5D001E;
  height: 70px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);


}

nav a{
  float: right;
  color: #E3E2DF;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
  text-decoration: none;
  display: inline;
}

nav a:hover{
  color: grey;

}

#logo{
  display: inline;
  height: 70px;
  float: left;

}


.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
